<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
    <div class="categoris__item round16 bgwhite border">
       <div class="boxes" style="height: 300px;">
          <div class="icon mb-24 ralt">
             <img src="{{category.image.url}}" alt="icon">
          </div>
          <div class="content">
             <h4 class="mb-10 title">
                <a href="fearuedjob.html" class="title">
                    {{category.name}}
                </a>
             </h4>
             <p class="fz-16 fw-400 title inter">
                {{category.description}}
             </p>
          </div>
       </div>
       <a href="fearuedjob.html" class="d-flex readmore align-items-center gap-2">
          <span class="fz-16 transition fw-600 base inter">
             Читать больше
          </span>
          <span>
             <i class="bi bi-arrow-right transition fz-18 base"></i>
          </span>
       </a>
    </div>
 </div>