{% load static %}
<div class="header__section__attachment">
    <div class="aihire__headertop">
       <div class="container">
          <div class="haderbar__top header__toptwo d-flex align-items-center  justify-content-between">
             <div class="logo__left d-flex align-items-center">
                <a href="index.html" class="top__logo">
                   <img src="{% static 'assets/img/logo/logo.png' %}" style="height: 50px;" alt="logo">
                </a>
                <a href="how-work.html" class="pra mdnone inter fw-400">
                  Как это работает
                </a>
                <a href="about.html" class="pra mdnone inter fw-400">
                  Почему Igilik
                </a>
             </div>
             <div class="header__topsearch d-flex align-items-center">
                <button type="button" id="searchBtn" class="d-lg-none">
                   <i class="bi bi-search"></i>
                </button>
                <form action="#0" class="search__form search__formtwo d-flex align-items-center">
                   <i class="bi bi-search"></i>
                   <input type="text" placeholder="Поиск">
                   <select name="talent">
                      <option value="1">
                        Талант
                      </option>
                      <option value="1">
                        Наймите меня
                      </option>
                      <option value="1">
                        Профессиональный
                      </option>
                   </select>
                </form>
                <a href="project.html" class="cmn--btn">
                   <span>
                     Опубликовать проект
                   </span>
                </a>
             </div>
          </div>
       </div>
    </div>
       <header class="header-section">
          <div class="container">
             <div class="header-wrapper">
                <div class="logo-menu d-xl-none">
                   <a href="index.html" class="small__logo">
                      <img src="{% static 'assets/img/logo/favicon.png' %}" alt="logo">
                   </a>
                </div>
                <ul class="main-menu">
                   <li>
                      <a href="" class="fz-24">
                         Главная 
                      </a>
                   </li>
                   <li>
                      <a href="">
                         О нас
                      </a>
                   </li>
                   <li>
                      <a href="">
                         Блог
                      </a>
                   </li>
                   <li>
                      <a href="contact.html">
                         Контакты
                      </a>
                   </li>
                </ul>
                <div class="menu__right__components d-flex align-items-center">
                   <div class="menu__components d-flex align-items-center">
                      <div class="dropdown">
                         <a href="#" class="link glose__icon d-flex align-items-center" data-bs-toggle="dropdown" data-bs-offset="0,14" aria-expanded="true">
                            <i class="bi bi-globe"></i>
                         </a>
                         <div class="dropdown-menu dropdown-start" data-popper-placement="bottom-start">
                            <ul class="list">
                               <li>
                               <a href="#" class="link d-inline-block dropdown-item">
                                  <span class="d-block bborder pb-1"> English </span>
                                  <span class="d-block bborder pb-1"> United States </span>
                                  <span class="d-block bborder pb-1"> Spanish </span>
                                  <span class="d-block "> Spain </span>
                               </a>
                               </li>
                            </ul>
                         </div>
                      </div>
                      <div class="dropdown notification__dropdown">
                         <a href="#" class="link glose__icon globe__active" data-bs-toggle="dropdown" data-bs-offset="0,16" aria-expanded="true">
                            <i class="bi bi-chat-text"></i>
                         </a>
                         <div class="dropdown-menu dropdown-menu-end " data-popper-placement="bottom-end">
                            <ul class="list">
                            <li class="mb-16">
                               <a href="#" class="link d-flex dropdown-item">
                                  <img src="{% static 'assets/img/frelancer/f10.png' %}" class="notification__thumb" alt="img">
                                  <span class="notify__content">
                                  <span class="fz-16 d-block fw-600 title inter">Alex Sandro</span>
                                  <span class="fz-14 message d-block fw-500 pra inter">Meetup Started</span>
                                  <span class="fz-10 fw-400 pra inter">6:25 am</span>
                                  </span>
                               </a>
                            </li>
                            <li class="mb-16">
                               <a href="#" class="link d-flex dropdown-item">
                                  <img src="{% static 'assets/img/frelancer/f9.png' %}" class="notification__thumb" alt="img">
                                  <span class="notify__content">
                                     <span class="fz-16 d-block fw-600 title inter">Haaland Jr</span>
                                     <span class="fz-14 message d-block fw-500 pra inter">Meetup Started</span>
                                     <span class="fz-10 fw-400 pra inter">11:25 am</span>
                                  </span>
                               </a>
                               </li>
                               <li class="mb-16">
                               <a href="#" class="link d-flex dropdown-item">
                                  <img src="{% static 'assets/img/frelancer/f8.png' %}" class="notification__thumb" alt="img">
                                  <span class="notify__content">
                                     <span class="fz-16 d-block fw-600 title inter">Courtney Jr</span>
                                     <span class="fz-14 message d-block fw-500 pra inter">Meetup Started</span>
                                     <span class="fz-10 fw-400 pra inter">4:45 pm</span>
                                  </span>
                               </a>
                               </li>
                               <li>
                                  <a href="#" class="link d-flex dropdown-item">
                                  <img src="{% static 'assets/img/frelancer/f7.png' %}" class="notification__thumb" alt="img">
                                  <span class="notify__content">
                                     <span class="fz-16 d-block fw-600 title inter">Paquate Shaw</span>
                                     <span class="fz-14 message d-block fw-500 pra inter">Meetup Started</span>
                                     <span class="fz-10 fw-400 pra inter">8:35 pm</span>
                                  </span>
                                  </a>
                               </li>
                            </ul>
                         </div>
                      </div>
                      <div class="dropdown notification__dropdown">
                         <a href="#" class="link glose__icon globe__active" data-bs-toggle="dropdown" data-bs-offset="0,14" aria-expanded="true">
                            <i class="bi bi-bell"></i>
                         </a>
                         <div class="dropdown-menu dropdown-menu-end " data-popper-placement="bottom-end">
                            <ul class="list">
                               <li class="mb-16">
                               <a href="#" class="link d-flex dropdown-item">
                                  <img src="{% static 'assets/img/frelancer/f1.png' %}" class="notification__thumb" alt="img">
                                  <span class="notify__content">
                                     <span class="fz-16 d-block fw-600 title inter">Jenny95</span>
                                     <span class="fz-14 message d-block fw-500 pra inter">Message alert!</span>
                                     <span class="fz-10 fw-400 pra inter">10 Min ago</span>
                                  </span>
                               </a>
                               </li>
                               <li class="mb-16">
                                  <a href="#" class="link d-flex dropdown-item">
                                  <img src="{% static 'assets/img/frelancer/f2.png' %}" class="notification__thumb" alt="img">
                                  <span class="notify__content">
                                     <span class="fz-16 d-block fw-600 title inter">Arle MCcoy</span>
                                     <span class="fz-14 message d-block fw-500 pra inter">Message alert!</span>
                                     <span class="fz-10 fw-400 pra inter">1 days ago</span>
                                  </span>
                                  </a>
                               </li>
                               <li>
                                  <a href="#" class="link d-flex dropdown-item">
                                  <img src="{% static 'assets/img/frelancer/f3.png' %}" class="notification__thumb" alt="img">
                                  <span class="notify__content">
                                     <span class="fz-16 d-block fw-600 title inter">Courtney Jr</span>
                                     <span class="fz-14 message d-block fw-500 pra inter">Message alert!</span>
                                     <span class="fz-10 fw-400 pra inter">2 Month ago</span>
                                  </span>
                                  </a>
                               </li>
                            </ul>
                         </div>
                      </div>
                      <div class="dropdown profie__dropdown">
                         <a href="#" class="link user__active" data-bs-toggle="dropdown" data-bs-offset="0,16" aria-expanded="true">
                            <img src="{% static 'assets/img/bn/profile.jpg' %}" alt="image" class="img-fluid rounded-circle objec-fit-cover">
                         </a>
                         <div class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end">
                         <div class="p-6">
                            <div class="d-flex align-items-center gap-3 max-width">
                               <div class="jerny__uer ralt">
                                  <img src="{% static 'assets/img/bn/profile.jpg' %}" alt="image" class="img-fluid jenny rounded-circle object-fit-cover flex-shrink-0">
                                  <i class="bi bi-check checks d-flex align-items-center justify-content-center"></i>
                               </div>
                               <div class="flex-grow-1">
                               <h5 class="fz-20 fw-600 title inter mb-0">Jenny95</h5>
                               <span class="d-block fw-400 inter pra fz-16"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b2fbdcd4dd8b87f2dfd3dbde9cd1dddf">[email&#160;protected]</a></span>
                               </div>
                            </div>
                            <div class="switch text-center mt-4 bborderdash pb-24 mb-24">
                               <a href="singin.html" class="cmn--btn outline__btn">
                                  <span>
                                    Переключитесь на покупку
                                  </span>
                               </a>
                            </div>
                            <span class="fz-12 pra d-block fw-400 inter mb-16">
                               Аккаунт
                            </span>
                            <ul class="list">
                               <li class="mb-16">
                               <a href="profile.html" class="link d-flex align-items-center gap-2 dropdown-item">
                                  <i class="bi bi-person-check fz-20"></i>
                                  <span class="d-block fz-16 pra fw-500 inter"> Профиль </span>
                               </a>
                               </li>
                               <li class="mb-16">
                                  <a href="post-request.html" class="link d-flex align-items-center gap-2 dropdown-item">
                                     <i class="bi bi-file-earmark-plus fz-20"></i>
                                     <span class="d-block fz-16 pra fw-500 inter"> Отправить запрос</span>
                                  </a>
                               </li>
                               <li class="mb-16">
                                  <a href="notification.html" class="link d-flex align-items-center gap-2 dropdown-item">
                                     <i class="bi bi-bell fz-20"></i>
                                     <span class="d-block fz-16 pra fw-500 inter"> Уведомление </span>
                                  </a>
                               </li>
                               <li class="mb-16">
                                  <a href="chat-us.html" class="link d-flex align-items-center gap-2 dropdown-item">
                                     <i class="bi bi-chat-text fz-20"></i>
                                     <span class="d-block fz-16 pra fw-500 inter"> Чат </span>
                                  </a>
                               </li>
                               <li class="mb-24">
                                  <a href="refer-friend.html" class="link d-flex align-items-center gap-2 dropdown-item">
                                     <i class="bi bi-sliders2 fz-20"></i>
                                     <span class="d-block fz-16 pra fw-500 inter">Пригласите друга</span>
                                  </a>
                               </li>  
                            </ul>
                            <span class="fz-12 pra d-block fw-400 inter mb-16">
                              Выставление счетов
                            </span>
                            <ul class="list">
                               <li class="mb-16">
                               <a href="setting.html" class="link d-flex align-items-center gap-2 dropdown-item">
                                  <i class="bi bi-gear fz-20"></i>
                                  <span class="d-block fz-16 pra fw-500 inter">Настройки </span>
                               </a>
                               </li>
                               <li>
                                  <a href="payment.html" class="link d-flex align-items-center gap-2 dropdown-item">
                                     <i class="bi bi-credit-card-2-back fz-20"></i>
                                     <span class="d-block fz-16 pra fw-500 inter"> Платежи </span>
                                  </a>
                               </li> 
                            </ul>
                         </div>
                         </div>
                      </div>
                   </div>
                   <div class="header-bar d-lg-none">
                      <span></span>
                      <span></span>
                      <span></span>
                   </div>
                </div>
             </div>
          </div>
       </header>
 </div>