{% load static %}

<section class="banner__section bg__img1 ralt overhid ">

    <!-- Header Here -->
    {% include 'components/header.html' %}
    <!-- Header End -->
 
    <div class="container">
       <div class="banner__content__wrapper">
          <div class="row justify-content-between align-items-center">
             <div class="col-xl-6 col-lg-7">
                <div class="banner__content banner__twospace banner__contenttwospace ralt">
                   <h4 class="base2 mb-16 wow fadeInDown">
                     Завершите свои проекты
                   </h4>
                  <span class="d2 title mb-24 fw-600 wow fadeInUp">
                     Найдите правильного Фрилансера
                  </span>
                  <p class="fz-20 fw-400 pra inter mb-40 wow fadeInDown">
                     Присоединяйтесь к нашему сообществу бизнесменов, предпринимателей и фрилансеров, которые увлечены своим делом и его потенциалом
                   </p>
                  <div class="banner__btn2 d-flex align-items-center">
                      <a href="freelancer.html" class="cmn--btn2">
                         <span>
                           Наймите фрилансера
                         </span>
                      </a>
                      <a href="freelancer.html" class="cmn--btn outline__btn2">
                         <span>
                           Подать заявку в качестве фрилансера
                         </span>
                      </a>
                  </div>
                </div>
             </div>
             <div class="col-xl-5 col-lg-5">
                <div class="banner__thumb2 banner__thumbcustom d-none d-lg-block">
                   <img src="{% static 'assets/img/bn/choose1.png' %}" alt="img">
                </div>
             </div>
          </div>
       </div>
    </div>
    <!--Element-->
    <img src="{% static 'assets/img/bn/line-dash3.png' %}" class="line__hotemtwo" alt="img">
    <!--Element-->
 </section>