{% extends "site/homepage.html" %}
{% load static %}
{% block css %}
        <link rel="stylesheet" href="{% static 'site/css/category.css' %}">
{% endblock css %}
{% block content %}
    <div class="title-categories">
        <h1>Выберите категорию задания</h1>
        <p>Мы готовы помочь вам в решении самых разнообразных задач</p>
    </div>
    <div class="cards">
        
        {% for item in categories %}    
            
            {% if item.id == category.id %}
            <a href="{{item.get_absolute_url}}">                
                <button class="card active">
                        {{item.name}}
                    </button>
            </a>
            {% else %}
            <a href="{{item.get_absolute_url}}">                
                <button class="card">
                        {{item.name}}
                    </button>
            </a>
            {% endif %}
                
        {% endfor %}
            
    </div>

    <h1>{{category.name}}</h1>
    <div class="sub-cards">
        
        {% for subcategory in category.selfcategory.all %}   
            <a href="" class="sub-card">
                {{subcategory.name}}
            </a>
        {% endfor %}
            
    </div>
{% endblock content %}