{% extends "site/homepage.html" %}

{% block content %}

<div class="baner">
    <h1>Освободим вас от забот</h1>
    <p>Поможем найти надёжного исполнителя для любых задач</p>

    <form action="{% url 'orders' %}" method="get">
        <input type="text" name="key">
        <button>Заказать услугу</button>
    </form>
    <p>Например,<a href="">вскрытие маленьких навесных замков</a></p>
    
    <button>Стать исполнителем и начать зарабатывать</button>
</div>




{% endblock content %}