/* @import url(./style.css); */

/* 
.categories-choose{

} */

.title-categories {
  text-align: center;
  padding: 10px;
}

.title-categories h1 {
  padding: 20px;
}

.title-categories p {
  color: #a199aa;
  font-size: 15px;
}

.cards {
  display: flex;
  padding: 30px;
  column-gap: 10px;
  justify-content: center;
}

.card {
  padding: 10px;
  border: 1px solid var(--col_gray);
  border-radius: 20px;
  font-size: small;
  background-color: white;
  color: rgb(56, 55, 55);
  
}

.card:hover {
  color: var(--col_base);
}

.active {
  background-color: rgba(25, 149, 231, 0.438);
  border: none;
}

.sub-cards {
  display: grid;

}

.sub-card {
  padding: 10px;
}