* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 10px 100px 10px 100px;
}

header {
  padding: 20px;
}

header ul {
  display: flex;
  column-gap: 20px;
}

header li {
  list-style: none;
}

.baner {
  width: 700px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.baner h1, .baner p, .baner button, .baner form, .baner input {
  padding: 10px;
}

.services {
  display: flex;
}

.cards {
  max-width: 70%;
  width: 100%;
  display: inline-block;
  padding: 10px;
}

.card {
  height: 200px;
  display: flex;
  width: 100%;
  border: solid 1q #aea3a3;
}

.crad-body {
  padding: 20px;
}

.card-img img {
  height: 100px;
  padding: 10px;
}

.categories {
  max-width: 30%;
  width: 100%;
}

.categories-list {
  list-style: none;
}

.categories-list li {
  padding: 5px;
}

.search input {
  padding: 10px;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 35px 0px rgba(34, 60, 80, 0.2);
}

.search button {
  padding: 20px;
  background-color: #134bcd;
  border: none;
  color: white;
  border-radius: 50px;
  position: absolute;
  left: 480px;
  top: 114px;
}
