.baner {
    width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

.baner h1, .baner p, .baner button, .baner form, .baner input {
    padding: 10px;
  }

.info {
    text-align: center;
    font-size: small;
}


.categories {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}


.category {
    padding: 20px;
    text-decoration: none;
    width: 28%;
  }

.category a {
    color: black;
  
  }