:root {
  --col_base:rgb(19, 75, 205);
  --col_gray:#d4d4d4;
  --box-shadown:4px 4px 35px 0px rgba(34, 60, 80, 0.2);
}


* {
  padding: 0;
  margin: 0;
  font-family: latoregular,latoregular other,sans-serif;
  text-decoration: none;
}

.container {
  padding: 10px 100px 10px 100px;
}

header {
  padding: 20px;
}

header ul {
  display: flex;
  column-gap: 20px;
}

header li {
  list-style: none;
}

header img {
  height: 50px;
  width: 150px;
  margin-top: -13px;
}
/* @import url(./category.css);
@import url(./orders.css);
@import url(./index.css); */