:root {
  --col_base:rgb(19, 75, 205);
  --color:white;
  --box-shadown:4px 4px 35px 0px rgba(34, 60, 80, 0.2);
}


* {
  padding: 0;
  margin: 0;
  font-family: latoregular,latoregular other,sans-serif;
  text-decoration: none;
}

.container {
  padding: 10px 100px 10px 100px;
}

header {
  padding: 20px;
}

header ul {
  display: flex;
  column-gap: 20px;
}

header li {
  list-style: none;
}

header img {
  height: 50px;
  width: 150px;
  margin-top: -13px;
}

.baner {
  width: 700px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.baner h1, .baner p, .baner button, .baner form, .baner input {
  padding: 10px;
}

.services {
  display: flex;
}

.cards {
  max-width: 70%;
  width: 100%;
  display: inline-block;
  padding: 10px;
}

.card {
  height: 200px;
  display: flex;
  width: 100%;
  border: solid 1q #aea3a3;
}

.card-body {
  max-width: 70%;
  width: 100%;
}

.card-body * {
  padding: 10px;
}

.card-body span {
  color: var(--col_base);
}

.card-add-info{
  max-width: 15%;
  width: 100%;
}

.card-img img {
  height: 100px;
  padding: 10px;
}

.categories {
  max-width: 30%;
  width: 100%;
}

.categories-list {
  list-style: none;
}

.categories-list li {
  padding: 5px;
}

.search input {
  padding: 10px;
  width: 500px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadown)
}

.search button {
  padding: 20px;
  background-color: var(--col_base);
  border: none;
  color: white;
  border-radius: 50px;
  position: absolute;
  left: 480px;
  top: 153px;
}
